/****************** Font ******************/
@font-face {
  font-family: "Minecraft";
  src: url("../assets/fonts/Minecraft.ttf");
}

@font-face {
  font-family: "NotoSans-Bold";
  src: url("../assets/fonts/NotoSans-Bold.woff2");
}

body {
  background: rgb(117, 117, 117);
}

/****************** Utiltes ******************/
.display-none {
  display: none !important;
}

.btn-hover {
  background: wheat;
  border: 0.5rem solid white;
  cursor: pointer;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-hover:hover {
  background: rgb(211, 182, 129);
  border: 0.5rem solid rgb(184, 184, 184);
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: row;
}

.container-game {
  margin: 0 auto;
}

/****************** Landing Page ******************/
.landingPage {
  background: url("../assets/img/dirt.jpg");
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}

.landingPage--logo {
  height: 10rem;
}

.landingPage--startBtn {
  padding: 1rem;
  font-size: 5rem;
  font-family: "Minecraft";
  font-weight: 100;
}

.landingPage__tutorial {
  background: rgba(0, 0, 0, 0.699);
  color: wheat;
  padding: 3rem;
  font-size: 1.8rem;
  font-family: "NotoSans-Bold";
  width: 50vw;
}

.landingPage__tutorial > ul {
  list-style-type: square;
  padding-left: 5rem;
  margin: 2rem;
}

.landingPage__tutorial > ul > li {
  display: flex;
}

.landingPage__tutorial > ul > li > img {
  width: 4rem;
}

.landingPage__tutorial--tools {
  padding-top: 1rem;
  padding-left: 0.5rem;
}

.landingPage__tutorial > p {
  line-height: 1.8;
  margin: 1rem;
}

.landingPage__tutorial--enjoy {
  text-align: center;
  font-size: 3rem;
}

/****************** Game - btn info ******************/
.btnInfo {
  padding: 0 1rem;
  background: rgb(117, 117, 117);
  height: 100vmin;
  width: auto;
}

.btn {
  padding: 0.5rem;
  font-size: 1.5rem;
  height: 7.5rem;
  width: 7.5rem;
  margin: 1rem;
}

.worlds {
  text-align: center;
  padding: 1.5rem 0;
  border: 0.5rem solid goldenrod;
}

.btn img,
.inventory {
  height: 4rem;
  width: 4rem;
}

.inventory {
  margin: 3rem 1rem 0 1rem;
  border: 0.2rem solid white;
  cursor: pointer;
}

#inventory {
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.4rem;
}

.closeInventory {
  color: black;
  font-size: 3rem;
  margin: 2rem 3rem 0 0;
  padding: 0 0.5rem;
}

.inventoryContainer {
  list-style-type: none;
}

.inventoryContainer > li > p {
  color: white;
  font-size: 2rem;
  padding-top: 3rem;
}

.inventoryContainer > li {
  display: flex;
  align-items: center;
}

.btn--reset {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  margin: 10rem 1rem 0 1rem;
}

.border--green {
  border: 0.5rem solid rgb(0, 255, 76);
}

.border--blue {
  border: 0.5rem solid blue;
}

.border--red {
  border: 0.5rem solid red;
}

/****************** Game - game board ******************/
#gameBoard {
  height: 100vmin;
  width: 84vmin;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.gameBoard--dark-bg {
  background: url("../assets/img/night-bg.jpg") no-repeat center center/cover;
}

.gameBoard--light-bg {
  background: skyblue;
}

.gameBoard--cloud {
  background: white;
}
/* 
.gameBoard--cloud-dark {
  background: rgb(163, 163, 163);
} */

.gameBoard--dirt {
  background: url("../assets/img/dirt.jpg") no-repeat center center/cover;
}
/* 
.gameBoard--dirt-dark {
  background: url("../assets/img/dirt-dark.jpg") no-repeat center center/cover;
} */

.gameBoard--grass {
  background: url("../assets/img/mcdirt.jpg") no-repeat center center/cover;
}
/* 
.gameBoard--grass-dark {
  background: url("../assets/img/mcdirt-dark.jpg") no-repeat center center/cover;
} */

.gameBoard--log {
  background: url("../assets/img/wood.jpg") no-repeat center center/cover;
}
/* 
.gameBoard--log-dark {
  background: url("../assets/img/wood-dark.jpg") no-repeat center center/cover;
} */

.gameBoard--stone {
  background: url("../assets/img/cobblestone.jpg") no-repeat center center/cover;
}

/* .gameBoard--stone-dark {
  background: url("../assets/img/cobblestone-dark.jpg") no-repeat center
    center/cover;
} */

.gameBoard--leaves {
  background: url("../assets/img/leaves.png") no-repeat center center/cover;
}
/* 
.gameBoard--leaves-dark {
  background: url("../assets/img/leaves-dark.png") no-repeat center center/cover;
} */

.filterDark {
  filter: brightness(0.6);
}
