/****************** Font ******************/
@font-face {
  font-family: "Minecraft";
  src: url("../assets/fonts/Minecraft.ttf");
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
}

/****************** Landing Page ******************/
.landingPage {
  background: url("../assets/img/dirt.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 87.5vw;
}

.landingPage--logo {
  height: 10vh;
}

.landingPage--startBtn {
  padding: 1rem;
  font-size: 5rem;
  font-family: "Minecraft";
  cursor: pointer;
}

/****************** Game - game board ******************/
.gameBoard {
  height: 100%;
  width: 100vmin;
  background-color: skyblue;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.gameBoard--cloud {
  background: white;
}

.gameBoard--dirt {
  background: url("../assets/img/dirt.jpg") no-repeat center center/cover;
}

.gameBoard--grass {
  background: url("../assets/img/mcdirt.jpg") no-repeat center center/cover;
}

.gameBoard--log {
  background: url("../assets/img/wood.jpg") no-repeat center center/cover;
}

.gameBoard--stone {
  background: url("../assets/img/cobblestone.jpg") no-repeat center center/cover;
}

.gameBoard--leaves {
  background: url("../assets/img/leaves.png") no-repeat center center/cover;
}

/****************** Game - btn info ******************/
.btnInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  background: black;
}

.btn {
  padding: 0.5rem;
  font-size: 1.5rem;
  height: 7rem;
  width: 7rem;
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: 0.2rem solid white;
  background: wheat;
}

.btn img,
.inventory {
  height: 4rem;
  width: 4rem;
}

.inventory {
  margin: 3rem 1rem 0 1rem;
  border: 0.2rem solid white;
  cursor: pointer;
  background: wheat;
}

.btn--reset {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  margin: 10rem 1rem 0 1rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: 0.2rem solid white;
  background: wheat;
}

/****************** Utiltes ******************/
.display-none {
  display: none !important;
}
